<footer class="text-center text-white" style="background-color: #6a27d3;">
  <!-- Grid container -->
 
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="">Photogur</a>
    <div>Created by: Curtis, Gustavo, and Vagner</div>
  </div>
</footer>